<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SS Briyani</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>SS BRIYANI</h1>
        <nav>
            <a href="{{ url_for('menu') }}">Menyu</a>
            <a href="{{ url_for('logout') }}">Chiqish</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
